/*==================== GOOGLE FONTS ====================*/
@font-face {
  font-family: "NeutraText";
  src: url('/assets/fonts/Neutraface2Text-Book.woff') format('woff'),
       url('/assets/fonts/Neutraface2Text-Book.woff2') format('woff2');
}

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* HSL color mode */
  --first-color: #732C53;
  --first-color-second: #F27F1B;
  --first-color-alt: #8a3f68;
  --first-color-lighter: #F2A81D;
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: #fff;
  --text-color-light: #fff;
  --input-color: #fff;
  --body-color: #261A24;
  --container-color: #261A24;
  --scroll-bar-color: #261A24;
  --scroll-thumb-color: #8a3f68;


  /*========== Font and typography ==========*/
  --body-font: 'Neutratext', sans-serif !important;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 4rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margin Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
      --big-font-size: 3rem !important;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color);
}
/*==================== BASE ====================*/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all .1s ease; 
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0 0 var(--header-height);
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color) !important;
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}
/*==================== REUSABLE CSS CLASSES ====================*/
.section{
  padding: 5rem 0 4rem;
}

.section__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
}

.section__subtitle{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle{
  text-align: left;
}
/*==================== LAYOUT ====================*/
.container{
  width: 100%;
  max-width: 980px;
  padding-left: var(--mb-1-5);
  padding-right: var(--mb-1-5);
}

.grid{
  display: grid;
  gap: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
/*=============== NAV ===============*/
.nav {
height: var(--header-height);
display: flex;
justify-content: space-between;
align-items: center;
}
.nav__toggle {
color: var(--text-color);
}

.nav__logo {
display: grid;
transform: translateY(0.01rem);
width: 260px;
}

.nav__toggle {
font-size: 1.2rem;
cursor: pointer;
}

.nav__menu {
position: relative;
}

@media screen and (max-width: 767px) {
.nav__menu {
  position: fixed;
  background-color: var(--body-color);
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
  padding: 3rem;
  transition: .4s;
}
}

.nav__list {
display: flex;
flex-direction: row;
column-gap: 1rem;
}

.nav__link {
color:var(--first-color);
font-weight: var(--font-semi-bold);
text-transform: uppercase;
}

.nav__link:hover {
color: var(--text-color);
}

.nav__close {
position: absolute;
top: .75rem;
right: 1rem;
font-size: 1.5rem;
color: var(--title-color);
cursor: pointer;
}
.nav_icon{
font-size: 2rem;
color: var(--first-color-second);
transition: 0.4s;
}
.nav_icon:hover{
color: var(--first-color-lighter);
transform: scale(1);
}
/* show menu */
.show-menu {
right: 0;
}

/* Change background header */
.scroll-header {
box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
color: var(--title-color);
}


@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 2.5rem);
  }
  .nav__link {
    color: var(--first-color);
    text-transform: initial;
  }
  .nav__link:hover {
    color: var(--text-color);
  }
  .nav__menu {
    display: flex;
    column-gap: 0.5rem;
  }
  .nav__list {
    flex-direction: row-reverse;
    column-gap: 1rem;
    transform: translateY(0.6rem);
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .active-link::before {
    background-color: var(--text-color);
  }
  .nav__logo{
    width: 180px;
  }
}
.home_content{
  display: flex;
  justify-content: space-between;
}
.home_text{
  width: 60%;
}
.home_heading{
  font-size: var(--big-font-size);
}
.home_subheading{
  font-size: 1.3rem !important;
  display: flex;
  font-size: var(--normal-font-size);
  padding-bottom: 2rem;
}
.home_button{
  background-color: var(--first-color-lighter);
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
  border-radius: 50px;
  transition: 0.4s;
  font-size: 1.3rem;
}
.home_button:hover{
  color: var(--first-color-lighter);
  background-color: transparent;
  text-decoration: none;
  border: 2px solid var(--first-color-second);
  transform: scale(-1);
}
.home_img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 20%;
}
.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  padding-top: 10rem;
}
.mission_content{
  font-size: 1.5rem;
  margin-bottom: var(--mb-1-5);
}
.specs_content{
  display: flex;
  justify-content: space-between;
}
.specs_text{
  width: 50%;
}
.specs_icon{
  font-size: 1rem;
  margin: 0rem 1rem;
}
.specs_line{
  font-size: 1.3rem;
}
.discord_integration{
  transform: translateX(-9rem);
}
.crew_content{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  text-align: center;
}
.crew_img{
  height: 17rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.crew_title{
  font-size: 1.4rem;
}
.bene_content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  text-align: center;
}
.bene_img{
  padding: 6rem;
  background-color: var(--first-color);
  border-radius: 50%;
  margin-bottom: 1rem;
}
.footer_content{
  display: flex;
  justify-content: space-evenly;
}
.footer_bg{
  background-color: var(--first-color);
  padding: 4rem 0rem;
}
.footer_list{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.footer_icon{
  color: #F2A81D;
  margin-right: 1rem;
  font-size: 2.5rem;
  transition: 0.6s;
}
.footer_icon:hover{
  color: var(--first-color-second);
}
.footer_content{
  align-content: center;
  align-self: center;
}
.card-header_custom{
  padding: 1rem 0rem ;
}
.faq_card{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.faq_link{
  margin-left: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.faq_link:hover{
  text-decoration: none;
  color: var(--first-color-lighter);
}
.custom_open{
  margin-bottom: 1rem;
}
.inner_data{
  margin-left: 0.5rem;
}
.card-header_custom-end{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1rem 0rem ;
}
.terms{
  transform: translateY(1.5rem);
}
.terms_link{
  color: white;
  font-size: 1.2rem;
}
.terms_link:hover{
  text-decoration: none;
  color: var(--first-color-lighter);
}
.copy_icon{
  font-size: 1.2rem;
  padding-right: 0.5rem;
}
.footer_copy{
  transform: translateY(1.5rem);
  font-size: 1.2rem;
}

/* ====================Ticker Line Animation========================= */

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.ticker-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 20rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ticker-wrap .ticker {
  display: inline-block;
  height: 20rem;
  line-height: 20rem;
  white-space: nowrap;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite repeat;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
}

.ticker-wrap .ticker__item {
  display: inline-flex;
  height: 17rem;
  width: 18rem;
  margin: 0rem 5rem;
  border-radius: 5px;
  background-color: var(--first-color-second);
  background-image: url(/assets/img/Pirate1.png);
}

@media screen and (max-width: 600px) { 
  .home_content{
    flex-direction: column;
  }
  .home_char{
    position: absolute;
  }
  .home_subheading{
    width: auto;
  }
  .discord_integration{
    display: none;
  }
  .specs_text{
    width: 100%;
  }
  .nav__logo{
    width: 120px;
  }
  .home_text{
    width: auto;
  }
  .crew_content{
    flex-direction: column;
    row-gap: 1rem;
  }
  .bene_content{
    flex-direction: column;
  }

}